# The AppleId account password

FASTLANE_PASSWORD=
# The AppleId account email
FASTLANE_USER =

# You need to provide an application specific password if you have 2-factor enabled
# and use pilot or deliver to upload a binary to App Store Connect
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD =

#You need to provide a pregenerated session via fastlane spaceauth
# if you have 2-factor authentication enabled and want to use any actions that communicates with App Store Connect.
FASTLANE_SESSION=

# Keystore alias to be used
KEYSTORE_PASSWORD=

# Password of the keystore alias
KEYSTORE_ALIAS=

# Keystore file encoded to base64.
# This can be generated with base64 fastlane/keys/mobile.keystore
KEYSTORE_ALIAS_PASSWORD=

# Code signing identity to use.
# e.g. Apple Distribution: John Doe (36PT2G9H8P). See the certificate name in Keychain Access.
SIGNING_IDENTITY =
# These keys must be filled in order to fetch the certificates

# Git basic authorization for match encoded in base64
# This is only needed if the user is not authenticated using ssh on git or if you're running on CI/CD server.
MATCH_GIT_BASIC_AUTHORIZATION=

# Password used to encrypt/decrypt certificates
MATCH_PASSWORD=

# (Optional) Your local machine password, such as the one you use to login.
# MATCH_KEYCHAIN_PASSWORD=

# Not needed unless you are generating the certificates
# Team's shared apple id, which should be the only creator of the certificates.
# WARNING: By any chance you should use your own account.
# MATCH_USERNAME=

# CI only keys for uploading app to store
# APP_STORE_CONNECT_API_KEY_KEY_ID=
# APP_STORE_CONNECT_API_KEY_ISSUER_ID=
# APP_STORE_CONNECT_API_KEY_KEY=